# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/**
*.iml
*.gz
#src/full_test/convert_png.py


# Ignore all files in full_test
src/full_test/cifar-10-batches-bin/*

# Ignore all summary and check-points
src/full_test/summaries/*/*

# Ignore all files in notMNIST_conv
src/full_test/notMNIST_conv/*